.imap_uri input, .imap_port input, .imap_max_retries input {
    margin-left: 20px;
}

.imap_uri input {
    width: 300px;
}

.imap_max_retries input, .imap_port input {
    width: 50px;
}

.imap_port {
    float: left;
}

.imap_ssl {
    padding: 9px 0 0 170px;
}

.imapClear {
    clear: both;
}